/* 
.side-my-accordion-item {
    margin: 40px;
    border-radius: 12px;
    border: 1px solid #E8E7E7;
    
    }
      
    
  
    .side-text-body-victorina{
        font-size: 12px;
        padding: 0px 0 8px 16px;
    }



     */
     .parent-side-accardion {
        padding: 8px;
        margin: 8px 0;
        border-radius: 8px;
    border: none;
    cursor: pointer;
      }

     .side-my-accordion-item {
        margin: 40px;
        border-radius: 12px;
        border: 1px solid #E8E7E7;
        
        }
          
     .side-btn-togle-victorina{
        background:none;
        border: none;
        
        }


        .side-text-header-victorina{
            font-size: 16px;
            font-weight: 600;
            color: #F3F4F6;
            line-height: 14px;
             overflow: hidden;
            transition: max-height 0.4s ease-out; 
        }
        
      
      .accordion-button {
        width: 100%;
        text-align: left;
        background-color: #f9f9f9;
        border: none;
        outline: none;
        cursor: pointer;
      }
      
      .side-text-body-victorina {
        padding: 0 20px;
        font-size: 12px;
        max-height: 0;

        overflow: hidden;
        transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out; 
      }
      
      .side-text-header-victorina.collapsed .side-text-body-victorina {
        padding:  20px 20px 0 20px;
        max-height: 500px; 
    }
      
      .hide{
        display: none;
      }



      .strow-dow{
        transform: rotate(180deg);
        transform-origin: center;
        transition: transform 0.4s ease; 
        
    }
   
    .strow-left{
        transform: rotate(0deg);
        transform-origin: center;
        transition: transform 0.4s ease; 
    }

    /* .side-btn-togle-victorina.collapsed .side-text-body-victorina{
margin: 0px;
    } */

    /* .accordion-item {
        color: white;
        overflow: hidden;
        transition: max-height 0.3s ease-out; 
      }
      
      .accordion-button {
        width: 100%;
        text-align: left;
        background-color: #f9f9f9;
        border: none;
        outline: none;
        cursor: pointer;
      }
      
      .accordion-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out; 
      }
      
      .accordion-item.collapsed .accordion-body {
        max-height: 500px; 
      }
       */