.description-item {
    word-wrap: break-word;
}

.section-title{
    margin-top: 5px;
    font-family: var(--standart-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 12px;
    color: rgba(28, 28, 28, 0.8);
}