.text-data-filter{
    font-family: var(--standart-font);
font-size: 16px;
font-weight: 500;
line-height: 20px;
color: rgba(13, 30, 49, 1);
}

.title-edit-page{
    color: rgba(13, 30, 49, 1);
font-family: var(--standart-font);
font-size: 24px;
font-weight: 700;
line-height: 30.12px;
text-align: left;

}