
.map-selected-marker, .map-default-marker {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -10px);
    background-color: #FF9500;
    width: 60px;
    height: 43px;
    border-radius: 8px;
    border: #FF9500 1px solid;
    margin: 0;


  
  }

  .map-selected-marker *, .map-default-marker *{
    position: relative;
    z-index: 2;
    margin: 0;
  }

  .selected{
    z-index: 999!important;
  }

  .map-selected-marker::before, .map-default-marker::before {
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    
    left: 50%;
    top: 54%;
    transform: translate(-50%, 13px) rotateZ(45deg);
    border-radius: 0 0 3px 0px;
    background-color: #FF9500;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #FF9500 #FF9500 transparent;
  }

  .map-selected-marker::after, .map-default-marker::after {
    content: '';
    position: absolute;
    width: 8px; /* Ширина круга */
    height: 8px; /* Висота круга */
    border-radius: 50%; /* Робить елемент круглим */
    background-color: #FF9500;
    left: 50%;
    top: 62%;
    transform: translate(-50%, 25px); /* Зміщення круга під ромб */
}

.map-selected-marker, .map-selected-marker::before ,.map-selected-marker::after {
    background-color: rgba(0, 122, 255, 1);
    /* background-color: #FF9500; */
    border-color: transparent rgba(0, 122, 255, 1) rgba(0, 122, 255, 1) transparent;
   

}

.map-market-text{
  color: rgba(255, 255, 255, 1) !important;
  font-family: var(--standart-font) !important;

font-size: 14px !important;
font-weight: 700;
line-height: 17.57px;
text-align: center;
}




#container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1199px) {
  #container {
      flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  #container {
      flex-direction: column;
  }

  .map {
      order: -1;
  }
}