
.map-selected-marker, .map-default-marker {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transform: translate(-50%, -10px);
    background-color: white;
    width: 70px;
    height: 28px;
    border-radius: 10px;
    border: #FF9500 1px solid;
    margin: 0;
  }

  .map-selected-marker *, .map-default-marker *{
    position: relative;
    z-index: 2;
    margin: 0;
  }

  .selected{
    z-index: 999!important;
  }

  .map-selected-marker::before, .map-default-marker::before {
    width: 12px;
    height: 12px;
    content: '';
    position: absolute;
    
    left: 50%;
    transform: translate(-50%, 13px) rotateZ(45deg);
    
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #FF9500 #FF9500 transparent;
  }
  
.map-selected-marker, .map-selected-marker::before {
    background-color: #FF9500;
    color: white;
}



