.card {
    margin: 20px;
    width: 300px;
    border: 1px solid #ccc;
}

.image-container {
    width: 100%;
    height: auto;
    transition: background-color 0.3s ease;
  }

  .image-vitamins{
    height: 200px;
  }

  .text-container {
    padding: 10px;
  }
  
  .card.hovered {
    background-color: orange;
  }
  