.div-parent-block{
    background-color: rgba(255, 255, 255, 1);
    font-family: var(--standart-font);
padding: 32px;
border-radius: 12px;   
height: 100%;
}


.row-parent{
    padding: 32px;;
    height: 100%;
}

.col-parent-left{
    padding-right: 32px;
}

.col-parent-right{
    padding-left: 32px;
}


 h3, h4 {
    color: rgba(0, 122, 255, 1);
}

h4{
font-size: 22px;
font-weight: 700;
line-height: 28px;
}

h3{
font-size: 50px;
font-weight: 600;
line-height: 63px;

}


.my-input-text-form{
border: 2px solid  rgba(172, 172, 172, 1);
color: rgba(167, 167, 167, 1);
padding: 10px;

}


.my-input-text-form-time{
border: 2px solid  rgba(172, 172, 172, 1);
color: rgba(167, 167, 167, 1);
padding: 10px;
width: 78px;
text-align: center;
}


label{
    color: rgba(0, 0, 0, 0.85);
font-family: var(--standart-font);
font-size: 14px;
font-weight: 700;
line-height: 20.02px;
margin-bottom: 8px;
}

.disable-block{
    opacity: 0.6;
}


.text-area-zayavka{
    padding: 12px ;
    border-radius: 12px;
    border: 2px solid rgba(172, 172, 172, 1);
    width: 100%;
    resize: none;

    color:  rgba(167, 167, 167, 1);
    font-family: var(--standart-font);
font-size: 14px;
font-weight: 400;
outline: none;

}

.text-area-zayavka::placeholder {
    color: rgba(167, 167, 167, 1); }


    .img-brend{
        border: 2px solid rgba(172, 172, 172, 1);
        width: 140px;
height: 140px;
border-radius: 10px;
    }

.btn-abolition{
    background-color:  rgba(0, 122, 255, 0.15) !important;
color:rgba(0, 122, 255, 1) !important;
transition: background-color 0.3s, color 0.3s; /* Додайте перехід для кольору та фону */
}

.btn-save{
    background-color:  rgba(0, 122, 255, 1) !important;
    transition: background-color 0.3s, color 0.3s; /* Додайте перехід для кольору та фону */

}

.btn-abolition:hover{
    background-color:  #e6f4fe !important;
    transition: background-color 0.3s, color 0.3s; /* Додайте перехід для кольору та фону */

}

.btn-save:hover{
    background-color:  #0097ff !important;
    transition: background-color 0.3s, color 0.3s; /* Додайте перехід для кольору та фону */

}