


.tableView{
            /* background-color: red; */
            height: 100%;
            /* overflow: "auto"; */
            border-radius: 8px;
            padding: 32px;
            margin: 26px;
            background-color: #FFFFFF;
            gap: 16px;
}



.app-content-container{
  background-color: #FFFFFF;
padding: 18px;
}

  .app-container {
    background-color: #e5e7eb;

    border-radius: 4px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    /* max-width: 1280px; */
    display: flex;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* max-width: 2000px; */
    margin: 0 auto;
    
  }
  
  .sidebar {
    overflow: initial;
    flex-basis: 200px;
    max-width: 220px;
    flex-shrink: 0;
    background-color: #0D1E31;
    display: flex;
    padding: 24px 12px 12px 12px;
    flex-direction: column;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 16px; */
  }
  .sidebar-list {
    list-style-type: none;
    padding: 0;

  }
  .sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
    margin: 16px 0;
  }


.account-info {
    display: flex;
    align-items: center;
    /* padding: 16px; */
    margin-top: auto;
  }



.app-content {
    /* padding: 0 16px 16px 16px; */
    /* background-color: var(--app-bg); */
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 4px; */
  }
  .app-content-headerText {
    /* color: var(--app-content-main-color); */
    font-size: 24px;
    line-height: 32px;
    margin: 0;
  }
  .app-content-headerButton {
    /* background-color: var(--action-color); */
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
    transition: 0.2s;
    cursor: pointer;
  }
  .app-content-headerButton:hover {
    /* background-color: var(--action-color-hover); */
  }
  .app-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
  }
  .app-content-actions-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  @media screen and (max-width: 520px) {
    .app-content-actions {
      flex-direction: column;
    }
    .app-content-actions  {
      max-width: 100%;
      order: 2;
    }
    .app-content-actions .app-content-actions-wrapper {
      padding-bottom: 16px;
      order: 1;
    }
  }
/*   
  .search-bar {
    
    color: var(--app-content-main-color);
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0px 10px 0px 32px;
    height: 32px;
    
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    width: 100%;
    max-width: 320px;
    transition: 0.2s;
  } */
  /* .light .search-bar {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%231f1c2e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  }
  .search-bar:placeholder {
    color: var(--app-content-main-color);
  }
  .search-bar:hover {
    border-color: var(--action-color-hover);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  }
  .search-bar:focus {
    outline: none;
    border-color: var(--action-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  } */
  
  .action-button {
    border-radius: 4px;
    height: 32px;
    /* background-color: var(--app-content-secondary-color);
    border: 1px solid var(--app-content-secondary-color); */
    display: flex;
    align-items: center;
    color: var(--app-content-main-color);
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
  }
  .action-button span {
    margin-right: 4px;
  }
  .action-button:hover {
    /* border-color: var(--action-color-hover); */
  }
  .action-button:focus, .action-button.active {
    outline: none;
    /* color: var(--action-color); */
    /* border-color: var(--action-color); */
  }
  
  