.circle-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .circle-image {
    width: 140px; /* Розмір можна змінити за вашим вибором */
    height: 140px; /* Розмір можна змінити за вашим вибором */
    border-radius: 100px;
    
    border: 1px solid #F5F5F5;
    margin-bottom: 14px;
  }
  
  .card-text {
line-height: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  