
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


.oops {
    font-family: 'Comfortaa', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 70px;
    margin-top: -120px; 
    transition: margin-top 0.3s ease;
}

.my-10 {
    margin-top: 70px; 
    margin-bottom: 100px;
}

.to-main{
    font-family: var(--standart-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    border-radius: 12px;
    padding: 15px 90px;
    gap: 10px;
    background: #007AFF;
    color: white;
    
}

@media (max-width: 1000px) {
   

    .oops {
        margin-top: -80px;
        font-size: 26px;
    }
    .to-main {
        padding: 15px 60px;
    }
    
}

@media (max-width: 668px) {

    .oops {
        margin-top: -45px;
        font-size: 20px;

    }
    .to-main {
        padding: 15px 30px;
    }
}

