
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


.oops{
    font-family: 'Comfortaa', sans-serif;

font-size: 36px;
font-weight: 500;
line-height: 40px;

}
.my-10{
    margin-top: 100px;
    margin-bottom: 100;
    height: 100vh;
}

.to-main{
    font-family: var(--standart-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    border-radius: 12px;
    padding: 15px 90px;
    gap: 10px;
    background: #007AFF;
    color: white;
    
}