.nav-link-service{
    border: 1px solid rgba(0, 122, 255, 0.15);
    border-radius: 12px;
    color: rgba(28, 28, 28, 1);
    font-family: var(--standart-font);
font-size: 16px;
font-weight: 500;
line-height: 20.08px;
transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link-service:hover{
    color: #007aff;
background-color: #d9ebff;
}