
.product-details-in-pharmacies {
  font-family: var(--standart-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #4E4444;
}

.price-in-your-city{
  font-family: var(--standart-font);
font-size: 18px;
font-weight: 500;
line-height: 23px;
margin-bottom: 8px;
}
.in-your-city{
font-weight: 700;
  color: rgba(14, 62, 117, 1);
}
.product-price-range {
  font-family: var(--standart-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;



}

.product-details-price {
  font-family: var(--standart-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.product-details-title {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 32px;
  font-family: var(--standart-font);
  color: rgba(14, 62, 117, 1);
}

.product-details-info-container {
  font-family: var(--standart-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.heart-styles{
  right: 90%;
  cursor: pointer;
}

/* .btn-details {
  font-family: var(--standart-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  padding: 15px 0;
  border-radius: 12px;

} */

/* .btn-pharmacies:hover {
  background: #007AFF;
}

.btn-analogues:hover {
  background: #007AFF26;
}

.btn-pharmacies {
  color: white;
  background: #007AFF;
}

.btn-analogues {
  color: #007AFF;
  background: #007AFF26;
} */

.panel-navigation-top{
  display: none;
}
.panel-navigation-bottom{
  display: block;
}





.card-btn-primary{
  background-color: rgba(0, 122, 255, 1);
  color: rgba(242, 242, 247, 1);

}

.card-btn-primary-500{
  background-color: rgba(0, 122, 255, 0.15);
  color: rgba(0, 122, 255, 1);

}
.card-btn-primary-500:hover{
  background-color:  #e6f4fe !important;
  transition: background-color 0.3s, color 0.3s; /* Додайте перехід для кольору та фону */

}

.card-btn-primary:hover{
  background-color:  #0097ff !important;
  transition: background-color 0.3s, color 0.3s; /* Додайте перехід для кольору та фону */

}

.btn-styled-standart{
  border-radius: 12px;
  padding: 16px 20px;
  width: 100% !important; 
  text-align: center;
}



@media (max-width: 768px) {

  .card-btn-primary{
    margin-bottom: 12px;
    }
    

  .panel-navigation-top{
    display: block;
  }

.panel-navigation-bottom{
  display: none;
}

.panel-navigation-sm{
  display: none;
}
.product-details-in-pharmacies{
  display: none;
}

.product-details-title{
  font-size: 24px;
}
}

