.btn-form-control{
margin-bottom: 8px;
border: none;
padding-right: 15px;
border-radius: 0 12px 12px 0px;
color: rgba(0, 122, 255, 1);
font-family: var(--standart-font);
font-size: 14px;
font-weight: 500;
line-height: 15px;

}
.btn-zmina{
border: none;
background-color: transparent;
color: rgba(0, 122, 255, 1);
    font-family: var(--standart-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
margin: 0 0 20px 16px ;
}

.title-edit-page{
    color: rgba(13, 30, 49, 1);
font-family: var(--standart-font);
font-size: 24px;
font-weight: 700;
line-height: 30.12px;
text-align: left;

}


.circle-avatar{
    width: 64px;
height: 64px;
border-radius: 100px;
object-fit: cover; 

}

.form-control {
    border: none;
    box-shadow: none;
}


    .form-control:focus {
        outline: none;
        background-color: rgba(239, 239, 239, 1);
        color: rgba(122, 122, 122, 1);
        border: none;
        box-shadow: none;
    }