.add-product-right-container{
    max-width: 40%!important;
    background-color: #F9F9F9!important;
}

.add-product-left-container{
    width: 30%!important;
}

.css-1u9des2-indicatorSeparator{
    display: none !important;
}

.css-qbdosj-Input{
    color: black!important;
}

.css-13cymwt-control, .product-add-input{
    border-width: 1px!important;
    border-color: #A7A7A7!important;
    border-radius: 9px!important;
}

.select-div{
    display: flex;
}

.select-div>*{
    width: 50%;
}

.product-label{
    font-size: 20px;
    font-family:  var(--standart-font);
    line-height: 25.1px;
    font-weight: 500;
    margin-bottom: 10px;
}

.additional-input{
    width: 80%;
}

.cross-button{
    height: 36.4px;
    width: 36.4px;    
    border-radius: 9px;
    border-width: 1px;
    border-color: #ACACAC;
    color: black !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.margin-bottom{
    margin-bottom: 13px;
}

.product-image{
    height: 203px;
    width: 203px;
}