
.head-text{
    color: rgba(14, 62, 117, 1);
    font-family: var(--standart-fon);
font-size: 24px;
font-weight: 700;
text-align: left;
margin-top: 12px;
margin-bottom: 44px;}

@media (max-width: 768px) {
.head-text{
    
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 30px;}

    .my-container{
        padding: 0 0px !important;
    }
    
    

}

.text-pust{
    color: rgba(13, 30, 49, 1);
font-family: var(--standart-fon);
font-size: 16px;
font-weight: 700;
line-height: 20.08px;
text-align: left;
}



/* 
.my-container{
    padding: 0 48px !important;
} */


@media screen and (max-width: 767px) {
    .my-container {
        padding: 0 !important;
    }
}

/* Коли екран більший або дорівнює 768px, але менший за 1200px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .my-container {
        padding: 0 48px !important;
    }
}