.upsert-fields-div{
    align-self: flex-start!important;
    align-items: flex-start!important;
    
}

.btn-custom{
    background: #007AFF;
    color: white;
    border-radius: 8px;
    font-size: var(--standart-font);   
    font-weight: 100;
}


.add-product-left-container{    
    
    padding-left: auto !important;
    width: 100%!important;
}

.inner-add-product-left-container{
    height: 100%;    
}

.scroll::-webkit-scrollbar-track
{
    
	border-radius: 10px;
	background-color: #F5F5F5;
    box-shadow: inset 0 0 10px 10px #F5F5F5;
    border: solid 3px transparent;
}

.scroll::-webkit-scrollbar
{
    border-radius: 10px;
	width: 10px;
	background-color: #F5F5F5;
    
}

.scroll::-webkit-scrollbar-thumb
{
    box-shadow: inset 0 0 10px 10px #0E3E75;
    border: solid 3px transparent;
    
	border-radius: 10px;
	
    
}



.scroll{
    scroll-margin: 5px!important;
    height: 100%; 
    overflow-y: scroll;
    
} 

.upsert-product-main-container{    
    height: 90vh;
}

.css-1u9des2-indicatorSeparator{
    display: none !important;
}

.css-qbdosj-Input{
    color: black!important;
}

.css-13cymwt-control, .product-add-input, .ql-toolbar, .ql-editor{
    border-width: 1px!important;
    border-color: #A7A7A7!important;
    border-radius: 9px!important;
}

.select-div{
    display: flex;
}

.select-div>*{
    width: 50%;
}

.product-label{
    font-size: 20px;
    font-family:  var(--standart-font);
    line-height: 25.1px;
    font-weight: 500;
    margin-bottom: 10px;
}

.additional-input{
    width: 50%;
}

.cross-button{
    height: 36.4px;
    width: 36.4px;    
    border-radius: 9px;
    border-width: 1px;
    border-color: #ACACAC;
    color: black !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.margin-bottom{
    margin-bottom: 13px;
}

.product-image{
    height: 203px;
    width: 203px;
}

.upsert-product-right-container{
    max-height: 100%;
}

.quill  { 
    max-height: 60vh;
    position: relative;
}

.ql-container{
    max-height: 60vh!important;
}

.ql-editor{
    max-height: 50vh!important;
}

