
.global-text{
    font-family: var(--standart-font);
color: rgba(28, 28, 28, 0.8);
margin-bottom: 70px;
}



.head-text{
    color: rgba(14, 62, 117, 1) ;
font-size: 24px;
font-weight: 700;
/* line-height: 30px; */
margin-top: 12px;
margin-bottom: 44px;
}

@media (max-width: 768px) {
    .head-text{
font-size: 20px;

        margin-top: 0px;
        margin-bottom: 30px;
    }
}

.div-form{
background-color: rgba(0, 122, 255, 0.15);
margin-bottom: 44px;
}


.div-block{
border-radius: 24px;
padding: 24px;

}

.my-input-text-form{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    /* letter-spacing: 0em; */
    /* text-align: left; */
    color: rgba(122, 122, 122, 0.5);    
    border-radius: 12px;
    padding: 16px 20px;  
    background-color: rgba(255, 255, 255, 1);
}

.placholder-style::placeholder{
    color: rgba(122, 122, 122, 0.5);    

}

.head-text-form{
font-size: 20px;
font-weight: 600;
line-height: 25px;
color: rgba(13, 30, 49, 1);
}

.p-text-form{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
color: rgba(13, 30, 49, 1);
}

.div-info-pharmacy{
border: 1.5px solid rgba(240, 240, 240, 1);
margin-bottom: 44px;
}


.head-text-info{
    font-size: 24px !important;
    font-weight: 700;
    line-height: 30px;
    color: rgba(28, 28, 28, 0.8) !important;
    /* color:  rgba(28, 28, 28, 0.8); */
}
.p-text-info{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    /* color:  rgba(28, 28, 28, 0.8); */
}



.div-text-instruction{
    background-color: rgba(255, 149, 0, 0.2);
/* margin-bottom: 84px ; */

}


.p-instruction{
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    /* color:  rgba(28, 28, 28, 0.8); */
}
.p-instruction span{
    font-weight: 700;
}


.div-pidsum{
    border: 1.5px solid rgba(255, 149, 0, 1);
}

.text-pidsum{
font-size: 24px;
font-weight: 700;
line-height: 30px;
color: rgba(13, 30, 49, 1);
}

.text-zag-sum{
font-size: 20px;
font-weight: 500;
line-height: 25px;
/* color: rgba(28, 28, 28, 0.8); */
}
.number-text{

font-size: 24px;
font-weight: 700;
line-height: 30px;
/* color: rgba(28, 28, 28, 0.8); */


}


.btn-hover-order{
    background-color: rgba(0, 122, 255, 1) !important;
    color: rgba(242, 242, 247, 1) !important;

}

.btn-hover-order:hover{
    background-color:  #0097ff !important;
    transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 767px) {
    .my-container {
        padding: 0 !important;
    }
}

/* Коли екран більший або дорівнює 768px, але менший за 1200px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .my-container {
        padding: 0 48px !important;
    }
}