


.add-product-left-container{    
    
    padding-left: auto !important;
    width: 100%!important;
}

.inner-add-product-left-container{
    height: 100%;    
}

.add-product-right-container::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.add-product-right-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.add-product-right-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ACACAC;
}


.flip{
    transform: scaleX(-1)!important;
}


.css-1u9des2-indicatorSeparator{
    display: none !important;
}

.css-qbdosj-Input{
    color: black!important;
}

.css-13cymwt-control, .product-add-input, .ql-toolbar, .ql-editor{
    border-width: 1px!important;
    border-color: #A7A7A7!important;
    border-radius: 9px!important;
}


.select-div{
    display: flex;
}

.select-div>*{
    width: 50%;
}

.product-label{
    font-size: 20px;
    font-family:  var(--standart-font);
    line-height: 25.1px;
    font-weight: 500;
    margin-bottom: 10px;
}

.additional-input{
    width: 80%;
}

.cross-button{
    height: 36.4px;
    width: 36.4px;    
    border-radius: 9px;
    border-width: 1px;
    border-color: #ACACAC;
    color: black !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.margin-bottom{
    margin-bottom: 13px;
}

.product-image{
    height: 203px;
    width: 203px;
}
