


.product-card {
    border-radius: 16px;
    display: inline-block;
    font-family: var(--standart-font);
    padding: 20px 10px;
    /* width: 203px; */
    border: 1px solid rgba(240, 240, 240, 1);
}

.product-info{
    /* padding: 20px 40px; */
    /* height: 100px; */
width: 100%;
}

.product-image {

    height: 168px;    
    width: 182px;    
    object-fit: cover;
}

.product-title {
    color: #0E3E75;
    font-weight: 700;
    font-size: 15px;
    /* margin-bottom: 4px; */
    /* height: 24px;     */
    line-height: 14px;
    /* margin-top: 14px; */
}

.product-description {
    color: #0E3E75;
    font-size: 16px;
    font-weight: 500;
    /* margin-bottom: 4px; */
}

.count-of-pharmacies {
    font-size: 12px;
    font-weight: 600;
    color: #535353;
    margin-bottom: 4px;
}

.check-in-count-of-pharmacies {
    margin-right: 2px;
    font-size: 12px;
    color: #FF671F;
}

.product-price{
    font-size: 14px;
    font-weight: 500;
    color: #535353;
    margin: 10px 0;
}

.product-price-bold{
    font-size: 15px;
    font-weight: 700;
    color: #535353;
}

.product-manufacturer{
    font-size: 16px;
    font-weight: 300;
    color: #535353;
    margin-bottom: 4px;    
    height: 48px;
}

.product-button{
    border-radius: 8px; 
    background: #139787; 
    color: #fff; 
    font-size: '16px';
}

.product-button:hover{    
    background: #11877a; 
    color: #fff; 
}

@media screen and (max-width: 992px)  {
    .product-manufacturer{
        display: none; 
    }
    .product-image {
        height: 128px;
        width: 140px;       
    }
}

.product-opus{
    font-family: var(--standart-font);
font-size: 12px;
font-weight: 300;
line-height: 15px;
 
margin: 10px 0;
    color: rgba(83, 83, 83, 1);
}

.product-count{
    font-family: var(--standart-font);
font-size: 12px;
font-weight: 600;
line-height: 15px;
margin: 10px 0;
    color: rgba(83, 83, 83, 1);
}


/* .btn-pharmacy{
padding: 8px 80px;
width: max-content;
} */

/* ///////////////////// */

