.characteristic {

    min-height: 212px;
    
    border-radius: 24px;
    gap: 114px;
    background: #FF950033;
margin-bottom: 12px;
}

.name {
    font-family: var(--standart-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    color: #0E3E75;
}

.w-90{
    width: 90%;
}

.content {
    font-family: var(--standart-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    margin: 0;
    color:  #0E3E75;
    
}

.image-box{
    margin-right: 5px;
    margin-top: 5px;
}

.characteristic-card{
    width: 180px;
    min-height:64px;
}