
.recharts-legend-wrapper{
    display: none;
}

.price-history{
    background: #007AFF26;
    border-radius: 30px;
    margin: 10px 0;
    padding: 10px;
}

.price-history .recharts-bar-rectangle.clicked::before {
    content: attr(data-name);
    position: absolute;
    top: -20px;
    left: 0;
    transform: translateX(-50%);
    color: #000;
    font-size: 14px;
  }
  

.recharts-layer tspan{
    font-weight: bold !important;
    font-family: var(--standart-font);
}

.red{
    background-color: bisque!important;
}
