@font-face {
  font-family: 'Mulish';
  src: local('MyFont'), url(../assets/fonts/Mulish-VariableFont_wght.ttf) format('woff');

}
:root {
    --standart-font: 'Mulish', sans-serif;
    --dark-blue: #0D1E31;
    --light-blue: #D9EBFF;

  }



  #root{
    height: 100%;
  }