.custom-button {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    /* margin: 8px 0; */
    width: 100%;
  }
  
  .button-icon {
    width: 20px; /* Встановіть розмір, який підходить вам */
    height: 20px;
  }
  
  .icon-text-separator {
    margin: 0 5px; /* Встановіть відступ, який підходить вам */
  }
  
  .textBtn{
    font-size: 16px;
    font-weight: 700;
    color: #F3F4F6;
    line-height: 14px;
  }