.favorite-icon {
    font-size: 28px;
    color: #FF671F;
    cursor: pointer;
    top:0;
    right: 0;
}

.btn-style {
    font-family: var(--standart-font);
    padding: 8px 12px;
    border-radius: 8px;
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    width: min-content;
    margin: 12px 0;
}



.btn-img {
    margin-left: 16px;
    background-color: rgba(255, 149, 0, 1);
    border: 2px solid rgba(255, 149, 0, 1);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
