.avatar {
    width: 40px; /* Задайте ширину зображення */
    height: 40px; /* Задайте висоту зображення */
    border-radius: 50%; 
    object-fit: cover; /* Забезпечте збереження пропорцій зображення і видалення вирівнювання */
    border: 2px solid rgba(0, 122, 255, 1); /* Додайте обрамлення, якщо потрібно */
    margin: 0 10px 0 10px;
  }
  

  .nikname-text{
    font-size: 16px;
    font-weight: 600;
  }

  .roll-text{
    font-size: 12px;
    font-weight: 600;  
     text-transform: lowercase; /* малий реєстер */
}